{% extends "base.html" %}

<!--Jinja Block for form email form on home page before input is made-->
{% block homeFormBlank %}
<!--Make background around contact form secondary colour-->
<div
class="container-fluid bg-secondary"
style="padding-bottom: 10px; padding-top: 10px"
>
<!--Add margin to the contact form-->
<div class="container">
  <!--Contact us text header-->
  <h1 class="text-center">Contact Us</h1>

<!--If the form message is 'fieldError'-->
{% if formMessage == 'fieldError' %}
<!--Display a dismissable error stating 'All fields required'-->
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    All fields required
</div>
{% endif %}

<!--If the form message is 'emailError'-->
{% if formMessage == 'emailError' %}
<!--Display a dismissable error stating 'Please enter a valid email'-->
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    Please enter a valid email
</div>
{% endif %}

<!--If the form message is 'internal Error'-->
{% if formMessage == 'internalError' %}
<!--Display a dismissable error stating 'An internal error occured and your message was not sent'-->
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    An internal error occured and your message was not sent
</div>
{% endif %}

<!--If the form message is 'success'-->
{% if formMessage == 'success' %}
<!--Display a dismissable error stating 'Message sent!'-->
<div class="alert alert-dismissible alert-success">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    Message sent!
  </div>
{% endif %}

  <!--create the post form-->
  <form action="/" method="post">
  <!--Make a container that rearranges elements depending on screen size-->
  <div class="row">
    <!--Label the name input-->
    <label class="col-form-label" for="inputDefault">Name</label>
    <!--Bootstrap styling for input-->
    <div class="form-group col-md-6">
      <!--First name input box-->
      <input
        type="text"
        class="form-control"
        placeholder="First"
        id="firstName"
        name="firstName"
      />
    </div>
    <div class="form-group col-md-6">
      <!--Last name input box-->
      <input
        type="text"
        class="form-control"
        placeholder="Last"
        id="lastName"
        name="lastName"
      />
    </div>
  </div>
  <div class="form-group">
    <!--Email Label-->
    <label class="col-form-label" for="inputDefault">Email address</label>
    <!--Email Address input box-->
    <input
      type="text"
      class="form-control"
      placeholder="Enter email"
      id="emailAddress"
      name="emailAddress"
    />
  </div>
  <div class="form-group">
    <!---->
    <label class="col-form-label" for="inputDefault">Email Subject</label>
    <!--Email subject input box-->
    <input
      type="text"
      class="form-control"
      placeholder="Subject"
      id="emailSubject"
      name="emailSubject"
    />
  </div>
  <div class="form-group">
    <label for="inputDefault">Message</label>
    <!--Message input box-->
    <textarea
      class="form-control"
      id="emailMessage"
      rows="3"
      style="margin-top: 0px; margin-bottom: 0px; height: 135px"
      name="emailMessage"
    >{{ emailMessage }}</textarea>
  </div>
  <!--Form Submit Button-->
  <button
    type="submit"
    class="btn btn-primary"
    style="margin-top: 5px"
    value="submit"
  >
    Send
  </button>
</div>
</form>
</div>
{% endblock %}